.ipynb_checkpoints
__pycache__/
.Rhistory

*.csv
# Exceptions:
!/topics/daily_topics.csv
!/topics/daily_topics_100.csv
!/topics/daily_topics_dpa.csv
!/topics/daily_topics_hb.csv
!/topics/daily_topics_sz.csv
!/topics/daily_topics_welt.csv
!/topics/topic_description.csv
!/topics/topic_description_100.csv
!/uncertainty/*.csv
!/sentiment/*.csv
!/data/*.csv
!/data/vintages_monthly/*.csv
!/data/vintages_quarterly/*.csv
!/data/vintages_monthly_GDP_topics_2007_200_all/*.csv
!/data/vintages_monthly_Consumption_topics_2007_200_all/*.csv
!/data/vintages_monthly_Investment_topics_2007_200_all/*.csv
!/dfm/forecasts/*.csv
!/dfm/*.csv
!/dfm/forecasts/DFM_hard_surveys_global_factors_Consumption/*.csv
!/dfm/forecasts/DFM_hard_surveys_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_hard_surveys_global_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_2007_200_all_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_2007_200_all_global_factors_Consumption/*.csv
!/dfm/forecasts/DFM_topics_2007_200_all_global_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_BPW_2007_200_all_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_BPW_2007_200_all_global_factors_Consumption/*.csv
!/dfm/forecasts/DFM_topics_BPW_2007_200_all_global_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_selected_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_selected_global_factors_Consumption/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_selected_global_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_2007_200_all_separate_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_BPW_2007_200_all_separate_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_selected_separate_factors_GDP/*.csv
!/dfm/forecasts/DFM_only_topics_2007_200_all_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_only_topics_BPW_2007_200_all_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_only_topics_BCC_2009_200_all_selected_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_global_factors_Consumption/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_global_factors_Investment/*.csv
!/dfm/experiments/combinations/forecasts/DFM_only_topics_2007_200_all_global_factors_GDP/*.csv
!/dfm/experiments/combinations/forecasts/DFM_only_topics_BPW_2007_200_all_global_factors_GDP/*.csv
!/dfm/experiments/combinations/forecasts/DFM_only_topics_BCC_2009_200_all_selected_global_factors_GDP/*.csv
!/dfm/forecasts/DFM_topics_2007_200_all_separate_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_BPW_2007_200_all_separate_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_separate_factors_Investment/*.csv
!/dfm/forecasts/DFM_topics_2007_200_all_separate_factors_Consumption/*.csv
!/dfm/forecasts/DFM_topics_BPW_2007_200_all_separate_factors_Consumption/*.csv
!/dfm/forecasts/DFM_topics_BCC_2009_200_all_separate_factors_Consumption/*.csv
!/dfm/forecasts/DFM_only_topics_2007_200_all_global_factors_Investment/*.csv
!/dfm/MSE/DFM_hard_surveys_global_factors_Consumption/*.csv
!/dfm/MSE/DFM_hard_surveys_global_factors_GDP/*.csv
!/dfm/MSE/DFM_hard_surveys_global_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_2007_200_all_global_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_2007_200_all_global_factors_Consumption/*.csv
!/dfm/MSE/DFM_topics_2007_200_all_global_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_BPW_2007_200_all_global_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_BPW_2007_200_all_global_factors_Consumption/*.csv
!/dfm/MSE/DFM_topics_BPW_2007_200_all_global_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_selected_global_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_selected_global_factors_Consumption/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_selected_global_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_2007_200_all_separate_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_BPW_2007_200_all_separate_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_selected_separate_factors_GDP/*.csv
!/dfm/MSE/DFM_only_topics_2007_200_all_global_factors_GDP/*.csv
!/dfm/MSE/DFM_only_topics_BPW_2007_200_all_global_factors_GDP/*.csv
!/dfm/MSE/DFM_only_topics_BCC_2009_200_all_selected_global_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_global_factors_Consumption/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_global_factors_Investment/*.csv
!/dfm/experiments/combinations/MSE/DFM_only_topics_2007_200_all_global_factors_GDP/*.csv
!/dfm/experiments/combinations/MSE/DFM_only_topics_BPW_2007_200_all_global_factors_GDP/*.csv
!/dfm/experiments/combinations/MSE/DFM_only_topics_BCC_2009_200_all_selected_global_factors_GDP/*.csv
!/dfm/MSE/DFM_topics_2007_200_all_separate_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_BPW_2007_200_all_separate_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_separate_factors_Investment/*.csv
!/dfm/MSE/DFM_topics_2007_200_all_separate_factors_Consumption/*.csv
!/dfm/MSE/DFM_topics_BPW_2007_200_all_separate_factors_Consumption/*.csv
!/dfm/MSE/DFM_topics_BCC_2009_200_all_separate_factors_Consumption/*.csv
!/dfm/MSE/DFM_only_topics_2007_200_all_global_factors_Investment/*.csv

*.xlsx
# Exceptions:
!/sentiment/*.xlsx
!/data/data_monthly/variables_definitions.xlsx
!/data/data_quarterly/*.xlsx
!/data/data_text/*.xlsx

*.sav
*.pickle
*.pkl
*.pyc
