.ipynb_checkpoints
__pycache__/

*.csv
# Exceptions:
!/topics/daily_topics.csv
!/topics/topic_description.csv
!/uncertainty/*.csv
!/sentiment/*.csv

*.xlsx
# Exceptions:
!/sentiment/*.xlsx

*.sav
*.pickle
*.pkl
*.pyc
